body 
{
    
}
*
{
   margin:1px 0px 0px 0px;
   padding:0px;
    text-align: left;
}
    #logo
    {
        background-color:#91aa9d;
        height:80px;
        }
.menu
 {
     
    
    height: 10px;
     background-color:#91aa9d;
}
   .menu ul 
    {
        margin-left:60px;
       list-style-type:none;
       background-color:Black;
        }
     .menu ul li
     {
         margin:auto;
         float:left;
         width:98px;
          position:relative;
    top: 0px;
    left: 0px;
}   
   .menu ul li a
  {
      font-family:"Orbitron", Times, serif;
      font-size:16px;
      color:#91aa9d;
       text-decoration: none;
       background-color:Black;
       display: block;
       border: 1px solid #000000;
       text-align: center;
      }
  .menu ul li a:hover  {

    background-color:#91aa9d;
    color:Black;
}
#slayt
{
    margin-top:12px;
 
    }
    #adres
    {     
       height:100px;
       margin:auto;    
    }
    #icerik
    {
       margin-top:15px;
       margin-bottom:15px;
       width:800px;
       float:left;
        }

  #iletisim
  {
      width:1000px;
      margin:auto;
      margin-top:30px;
      }
#yazi
{
    margin:30px;
   
    }
   #yazi2
{
     width:800px;
     margin:auto;
     margin-top:30px;
   
    }
#icmenu
{
   background-image:url('img/arkap.jpg');
   width:300px;
   height:auto;
   float:right;
   margin-top:15px;
}
.urunler
{
    margin-left:20px; 
    margin-top:30px;
    width:300px;
    background-image:url('img/arkap.jpg');
    
    }
    .urunler p a:hover  
    {
        background-color:Black;
        
}
.ilet
{
    width:300px;
    background-image:url('img/arkap.jpg');
     float:right;
    }
.ilet a:hover  
    {
        background-color:Black;
        
}
#metin
{
    width:900px;
    float:right;
    margin-right:20px;
    
    }
  #liste
  {
   
    margin-right:20px;
    
      }
    
    
    
    
    
    
    .menuic
 {
     margin-top:30px;
    height: 200px;
     background-image:url(img/arkap.jpg);
     background-repeat:no-repeat;
}
   .menuic ul 
    {
        margin-left:80px;
       list-style-type:none;
       
       float:left;
        }
     .menuic ul li
     {
         margin:auto;
        
         width:150px;
          position:relative;
    top: 0px;
    left: 2px;
}   
   .menuic ul li a
  {
      font-family:"Orbitron", Times, serif;
      font-size:16px;
      color:#91aa9d;
       text-decoration: none;
       background-color:Black;
       display: block;
       border: 1px solid #000000;
       text-align: center;
      }
  .menuic ul li a:hover  {

    background-color:#91aa9d;
    color:Black;
}