<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
	<connectionStrings>
		<add name="bag" connectionString="Data Source=BUSRAK\SQLEXPRESS; Initial Catalog=mihrimah_m;Integrated Security=True;" providerName="System.Data.SqlClient"/>
		<add name="mihrimah_mConnectionString1" connectionString="Data Source=BUSRAK\SQLEXPRESS;Initial Catalog=mihrimah_m;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
